<!DOCTYPE html>
<html>
    <head>
        <title>E-Commerce</title>
        <link rel="stylesheet" href="./styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>
        <div class = "grid-container">
            <header class="row">
                <div>
                    <a href="index.html" class="brand">E-Commerce</a>
                </div>
                <div >
                    <a href="cart.html" class="a">Cart</a>
                    <a href="signin.html" class="a">Sign In</a>
                </div>
           </header>
           <main>
           <div class="row center">
               <div class="card">
                   <a href="product.html" class="a">
                       <img class="medium" src="../images/product-1.jpg" alt="product">
                   </a>
                   <div class="card-body">
                       <a href="product.html" >
                           <h2>Alexa</h2>
                       </a>
                   </div>
                   <div class="rating">
                       <span>
                           <i class = "fa fa-star"></i>
                        </span>
                        <span>
                            <i class = "fa fa-star"></i>
                         </span>
                         <span>
                            <i class = "fa fa-star"></i>
                         </span>
                    </div>
                    <div class="price">
                        $120
                    </div>
               </div>
               <div class="card">
                <a href="product.html" class="a">
                    <img class="medium" src="../images/product-1.jpg" alt="product">
                </a>
                <div class="card-body">
                    <a href="product.html" >
                        <h2>Alexa</h2>
                    </a>
                </div>
                <div class="rating">
                    <span>
                        <i class = "fa fa-star"></i>
                     </span>
                     <span>
                         <i class = "fa fa-star"></i>
                      </span>
                      <span>
                         <i class = "fa fa-star"></i>
                      </span>
                 </div>
                 <div class="price">
                     $120
                 </div>
            </div>
            <div class="card">
                <a href="product.html" class="a">
                    <img class="medium" src="../images/product-1.jpg" alt="product">
                </a>
                <div class="card-body">
                    <a href="product.html" >
                        <h2>Alexa</h2>
                    </a>
                </div>
                <div class="rating">
                    <span>
                        <i class = "fa fa-star"></i>
                     </span>
                     <span>
                         <i class = "fa fa-star"></i>
                      </span>
                      <span>
                         <i class = "fa fa-star"></i>
                      </span>
                 </div>
                 <div class="price">
                     $120
                 </div>
            </div>
           </div>
           </main>
           <footer class="row center">ALL RIGHTS RESERVED</footer>
        </div>
    </body>
</html>